*{
    margin: 0px;
    padding: 0px;
}
.shopping-cart-header{
    margin-top: 100px;
}
.header-content{
font-size: 18px;
line-height: 22px;
color: #333;
font-family: Lato;
font-weight: 700;
}
.shipping-header{
display: flex;
background-color: #fff;
border: 1px solid #b6b6b6;
border-radius: 6px;
padding: 16px 17px;
align-items: center;
width: 60%;
margin: 10px 0px;
place-content: center;
}
.ship-home , .pick-up-in-store{
width: 20%;
font-family: Lato,sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #0458ad;
display: flex;
gap: 3px;
}
