.tooltip {
  position: relative;
}
.popover {
  position: absolute;
  top: -2.2rem;
  left: -6rem;
  min-width: 200px;
  width: 100%;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 14px;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: block;
  margin-top: -10px;
}

.popover-content {
  padding: 9px 14px;
  position: relative;
}

.info-popover-content {
  font-size: 12px;
  line-height: 15px;
  margin-right: 15px;
  display: inline-block;
}

.close-popover {
  position: absolute;
  top: 2px;
  right: 0;
  width: 16px;
  height: 16px;
  z-index: 1000;
  text-decoration: none;
  color: black;
  text-transform: none;
  cursor: pointer;
  margin: 1px 7px;
  font-size: 22px;
}

.popover > .arrow {
  position: absolute;
  display: block;
  width: 250px;
  height: 36px;
  border-color: transparent;
  border-style: solid;
}

.popover .arrow::after {
  content: " ";
  position: absolute;
  top: 100%; 
  left: 34%;
  border-width: 7px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
